{% extends 'cinema/template.html' %}

{% block content %}
	<div class="container mt-3 text-center movie-update">
		<h1>Update "{{ movie.name }}"</h1>
		<form method="post" enctype="multipart/form-data">
			<div class="d-flex flex-column form align-items-center justify-content-center">
				{% csrf_token %}
				{% for field in form %}
					<div class="mb-3 d-flex flex-column">
						<label class="form-label-tag">{{ field.label_tag }}</label>
						{{ field }}
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-warning">Update</button>
			</div>
		</form>
	</div>
{% endblock %}